// ====================================================================================================================
//  fonts
// ====================================================================================================================

$main-font 				: 			'Ubuntu', sans-serif;


// ====================================================================================================================
//  common colors
// ====================================================================================================================

$color-1: #3e585f; // green dark
$color-2: #f82f53; // crimson
$color-3: #47374e; // purple
$color-4: #ffffff; // white
$color-5  				:  			#F2F2F2; 
$color-6 				:  			#92999C; 
$color-7 				:  			#9E85D0; 	
$color-8  				:  			#8F3985; 	 

$text-color 			: 			#222;
$body-bg-color 			: 			$color-5;

$icon-color				: 			$color-7;	// Adobe Illustrator SVG import

$dw-bg-color 		 	: 			#2D3639;	// Dw code background

$primary-nav-icon 		: 			#9E85D0;	// Adobe Illustrator SVG import


// ====================================================================================================================
//  footer
// ====================================================================================================================

$footer-height 			: 			20px;
$footer-bg 				: 			$dw-bg-color;